<div class="span12">
<h1>
  <%= @list.title %>
  &nbsp;
  <% if can? :update, @list %>
    <%= link_to 'Edit', edit_list_path(@list), :class=>'btn btn-mini list_edit' %>
  <% end %>
  <% if can? :destroy, @list %>
    <%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-mini btn-danger' %></a>
  <% end %>
  <% if can? :update, @list %>
  <%= link_to 'Back', lists_path , :class=>'btn btn-mini btn-inverse' %>
  <% end %> 
</h1>

<p class="lead">
  <small>Event Date: <%= @list.event_date.strftime("%d-%m-%Y")  %></small><br/>
  <%= @list.description %>  
</p>

<% if can? :update, @list %>
  <%= link_to raw('<i class="icon-plus"></i> Add a List Item'), new_list_item_path(@list), :remote => true, :title=>'Add list item', :class=>'btn' %><br/><br/>
<% end %>
</div>

<div id="item-bin" class="span12">
  <% @list.items.reverse.each do |item| %>
  <div id="item_<%= item.id %>" class="item priority-1 span3">
    <h2><%= item.name %></h2>
    <p><%= simple_format item.description %></p>
    <% if can? :update, item %>
      <%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_list_item_path(@list, item), :remote => true, :title=>'Edit', :class=>'btn btn-mini' %>
    <% end %>
    <% if can? :destroy, item %>
      <%= link_to raw('<i class="icon-trash"></i> Delete'), list_item_path(@list, item), :remote => true, method: :delete, :title=>'Delete', :class=>'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if cannot? :update, item %>
      www.link.com
    <% end %>
  </div>
  <% end %>
</div>

<script>
$('#item-bin').isotope({
  // options
  itemSelector : '.item',
  layoutMode : 'masonry'
});
</script>
<div class="clearfix"></div>