<h1>
  <%= @list.title %>
  &nbsp;
  <% if can? :update, @list %>
    <%= link_to 'Edit', edit_list_path(@list), :class=>'btn btn-mini' %>
  <% end %>
  <% if can? :destroy, @list %>
    <%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-mini btn-danger' %></a>
  <% end %>
  <%= link_to 'Back', lists_path , :class=>'btn btn-mini btn-inverse' %>
</h1>

<p class="lead">
  <small>Event Date: <%= @list.event_date %></small><br/>
  <%= @list.description %>  
</p>

<% if can? :update, @list %>
  <div class="well">
    <h4>Add a List Item</h4>
    <!--form_for([@list, Item.new], :remote => true)-->
    <%= form_for([@list, Item.new], :remote => true) do |f| %>
        <%= f.label :name, :class => 'control-label pull-left' %>
        <%= f.text_field :name, :class => 'text_field  pull-left' %>
        <%= f.label :website, :class => 'control-label  pull-left' %>
        <%= f.text_field :url, :class => 'text_field  pull-left' %>
        <%= f.label :description, :class => 'control-label  pull-left' %>
        <%= f.text_area :description, :class => 'text_field  pull-left', :cols => 40, :rows => 1 %>
      <div class="actions  pull-left">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
<% end %>

<table id="list-items" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <% @list.items.reverse.each do |item| %>
    <tr class="item_<%= item.id %>">
      <td><%= item.name %></td>
      <td><a href="<%= item.url %>"><%= item.url %></a></td>
      <td><%= item.description %></td>
      <td>
        <% if can? :update, item %>
          <%= link_to 'Edit', edit_list_item_path(@list, item), :remote => true, :class=>'btn btn-mini' %>
        <% end %>
        <% if can? :destroy, item %>
          <%= link_to 'Delete', list_item_path(@list, item), :remote => true, method: :delete, :class=>'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if cannot? :update, item %>
          www.link.com
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>