<style>
body {
  /*background-image: url('../img/bg/norwegian_rose.png') !important;*/
}
</style>
<div class="row">
  <div class="span9">
    <div class="page-header list-title">
      <h1>
        <%= @list.title %>&nbsp;
        <small>
          <%= @list.event_date.strftime("%B %d, %Y") if @list.event_date.present? %>
        </small>
      </h1>
    </div>
  </div>
  <div class="span3" style="padding-top:12px;padding-bottom:12px;">
    <div class="pull-right">
    <% if can? :update, @list %>
      <%= link_to raw('<i class="icon icon-pencil"></i> Edit List'), edit_list_path(@list), :class=>'btn btn list_edit' %>
    <% end %>
    <% if can? :destroy, @list %>
      <%= link_to raw('<i class="icon icon-trash"></i> Delete'), delete_list_path(@list), :class=>'btn btn btn-danger' %>
    <% end %>
  </div>
  </div>
</div>

<div class="row">  
  <div class="lead span7" style="margin-bottom:5px;">
    <%= simple_format @list.description %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="btn-toolbar">
      <% if can? :update, @list %>
        <%= link_to raw('<i class="icon-plus"></i> Add a List Item'), new_list_item_path(@list), :remote => true, :title=>'Add list item', :class=>'btn btn-primary' %>
      <% end %>
      
      <div id="sort-by" class="btn-group">
        <button class="btn active" data-sort-by='original-order'>Priority</button>
        <button class="btn" data-sort-by='name'>Name</button>
        <!--<button class="btn" data-sort-by='height'>Size</button>-->
        <button class="btn" data-sort-by='random'>Random</button>
      </div>

      <div id="sort-direction" class="btn-group" data-option-key="sortAscending">
        <button class="btn active" data-option-value="true"><i class="icon-arrow-up"></i></button>
        <button class="btn" data-option-value="false"><i class="icon-arrow-down"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% if !@list.items.none? %>
    <div class="span12" id="item-bin">
      <% @list.items.order('priority DESC').each do |item| %>
        <%= render :partial => "items/div_item", :locals => { :item => item } %>
      <% end %>
    </div>
  <% else %>
    <div class="span12" id="item-bin"></div>
    <div id='no-items' class="well span12">
      You have no items on your list, would you like to 
      <%= link_to raw('begin adding'), new_list_item_path(@list), :remote => true, :title=>'Add list item' %>
      some now?</div>
  <% end %>
</div>
<script>
$('#item-bin').isotope({
  // options
  itemSelector : '.item',
  layoutMode : 'masonry',//masonry, fitRows

  getSortData : {
    name : function ( $elem ) {
      return $elem.find('.title').text().toLowerCase();
    },
    priority : function ( $elem ) {
      return $elem.attr('data-priority');
    },
    orderAdded : function ( $elem ) {
      return $elem.attr('data-id');
    },
    height : function( $elem ) {
      return $elem.height();
    }
  },
  
});

// change sort by
$('#sort-by button').click(function(){
  // Remove Active class from other items, set it to current item
  $('#sort-by').children().removeClass("active");
  $(this).addClass("active");
  // get href attribute, minus the '#'
  var sortName = $(this).attr('data-sort-by');
  $('#item-bin').isotope({ sortBy : sortName });
  return false;
});

// change sort direction
$('#sort-direction button').click(function(){
  $('#sort-direction').children().removeClass("active");
  $(this).addClass("active");
  // grab true/false value from data attribute
  var selector = $(this).attr('data-option-value');
  selector = selector == "true" ? true : false; // string -> bool
  $('#item-bin').isotope({ sortAscending: selector });
  return false;
});
</script>
<div class="clearfix"></div>