<% 
# If it is called from the Create partial, it will have the global @item
item = @item if @item
%>
<div id="item_<%= item.id %>" class="item priority-<%= item.priority %>" data-priority="<%= item.priority %>" data-id="<%= item.id %>">
  <div class="title">
    <%= item.name %>
  </div>

  <% if item.asin.present? %>
    <div id="<%=item.asin%>" class="asin"></div>
  <% end %>

  <div class="priority-icon">
    <% if item.priority == 4 %>
      <i class='icon icon-heart'></i>
    <% elsif item.priority == 3 %>
      <i class='icon icon-star'></i>
    <% elsif item.priority == 2 %>
      <i class='icon icon-gift'></i>
    <% elsif item.priority == 1 %>
      <i class='icon icon-tag'></i>
    <% end %>
  </div>
  
  <% if !item.description.empty? %>
    <div class="description">
      <%= simple_format item.description %>
    </div>
  <% end %>

  <% if can?(:update, item) || !item.url.empty? || item.asin.present?%>
    <div class="links pull-right">
      <% if can? :update, item %>
        <%= link_to raw('<i class="icon-pencil"></i>'), edit_list_item_path(@list, item), :remote => true, :title=>'Edit', :class=>'btn btn-mini' %>
      <% end %>
      <% if can? :destroy, item %>
        <%= link_to raw('<i class="icon-trash"></i>'), list_item_path(@list, item), :remote => true, method: :delete, :title=>'Delete', :class=>'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
      <% end %>

      <% if !item.url.empty? %>
        <a href="<%=item.url%>" target="_blank" class="btn btn-mini"><i class='icon icon-globe'></i> Site</a>
      <% end %>
      
      <% if item.asin.present? %>
        <a href="" class="amazon-link btn btn-mini" id="<%=item.asin%>-link" title="Buy on Amazon" target="_blank">Buy</a>
      <% end %>
    </div>
  <% end %>
</div>