<div class="modal-header">
  <a href="#" data-dismiss="modal" class="close">×</a>
  <h3>Add List Item</h3>
</div>
<div class="modal-body">
<%= form_for @item, :url => list_items_path(@list), :remote=>true, method: :post do |f| %>
  <%= f.label :name, :class => 'control-label' %>
  <%= f.text_field :name, :class => 'text_field' %>
  <%= f.label :website, :class => 'control-label' %>
  <%= f.text_field :url, :class => 'text_field' %>
  <%= f.label :description, :class => 'control-label' %>
  <%= f.text_area :description, :class => 'text_field', :cols => 40, :rows => 2 %>
  <div class="actions">
  <%= f.submit "Save", :class=>'btn btn-primary' %>
  <%= link_to "Cancel",'#', "data-dismiss" => "modal", :class=>'btn' %>
  </div>
<% end %>
</div>
<div class="modal-footer">&nbsp;</div>