<td><%= @item.name %></td> 
<td><%= link_to  @item.url %></td> 
<td><%= @item.description %></td> 
<td> 
  <%= link_to raw('<i class="icon-pencil"></i>'), edit_list_item_path(@list, @item), :remote => true, :title=>'Edit',:class=>'btn btn-mini' %>
  <%= link_to raw('<i class="icon-trash"></i>'), list_item_path(@item.list, @item), :remote => true, method: :delete, :title=>'Edit', :class=>'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %> 
</td>