  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Giftsmash", :root, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to "My Wishlists", lists_path %></li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="pull-right">
                  <%= link_to raw('<i class="icon icon-cog"></i> Settings'), edit_user_registration_path %>
                </li>
                <li  class="pull-right">
                  <%= link_to raw('<i class="icon icon-off"></i> Logout'), destroy_user_session_path, method: :delete%>
                </li>
              <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>