<!DOCTYPE html>
<html>
<head>
  <title>Gimmegimme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
  <div class="navbar-inner">
    <%= link_to "Gimme Gimme", :root, :class => 'brand' %>
    <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to "Lists", lists_path %></li>
        <li>
          <%= link_to current_user.email, edit_user_registration_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete%>
        </li>
      <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>

    </ul>
  </div>
</div>
  
<!--<p class="notice"><%= notice %></p>
<p><%= alert %></p>-->
<div class="container">
  <%= yield %>
</div>

</body>
</html>
