<!DOCTYPE html>
<html>
<head>
  <title>Gimme Gimme</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  @media (max-width: 767px) {
      /* Remove any padding from the body */
      body {
        padding-top: 0;
      }
    }
  @media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
      padding-top: 0;
    }
  }
  </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Gimme Gimme", :root, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if user_signed_in? %>
            <li><%= link_to "Lists", lists_path %></li>
            <li>
              <%= link_to current_user.email, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete%>
            </li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="jumbotron masthead">
  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <h1>Gimme Gimme</h1>
    <!--<p>Ever have trouble planning who is buying what?</p>-->
  <p>Are friends and family constantly bothering you for a Birthday or Christmas list?</p>
  

  <p><small>Create your list now, and share it with everyone!</small></p>
    <p>
    <%= link_to "Sign up now!", new_user_registration_path, :class=>"btn btn-primary btn-large" %>
  </p>
    
    <!--<ul class="masthead-links">
      <li><a href="http://github.com/twitter/bootstrap" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a></li>
      <li><a href="./extend.html" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);">Extend</a></li>
      <li>Version 2.1.1</li>
    </ul>-->
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
